snippet cp "cp template python" b
import math
import itertools
import re

def solve():
		pass

if __name__=='__main__':
		for _ in range(int(input())):
				solve()
endsnippet

snippet ltc "leetcode template" b
import math
import itertools
import re
import functools
from typing import *

class Solution:
$1

if __name__=='__main__':
	sol = Solution()
endsnippet

